html
  head
    title= title
  body
    h1= message
    img(src="https://avatars.mds.yandex.net/get-zen_doc/1602847/pub_5c9f3a2aec888400b2bcd8a0_5c9f522ed677b400b3b86833/scale_2400", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="/") Ссылка на 2 страницу
